body {
  font-family: Arial, sans-serif;
  padding: 30px;
  max-width: 600px;
  margin: auto;
}

input, button {
  padding: 8px;
  margin-top: 10px;
}

.filters button {
  margin-right: 5px;
}

li {
  margin-top: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
